.DS_Store

.idea/
.vscode/

*.log
*.tmp

.kube/
*.kubeconfig

*.tfstate
*.tfvars
*.key
*.pem
*.bak
*.retry

*.swp
docker-compose.override.yml

dist/
build/
node_modules/

*.tar
*.zip
*.gz

.kube/
*.yaml~
*.yml~
*.log
*.bak